= simple_form_for(@tqrdc_qline) do |f|
  = f.error_notification

  .form-inputs

    = #f.input :id

    = f.input :name

    = f.input :description

    = f.input :group_id , collection: Tqrdc::Group.all

    = f.input :score

    = f.input :qhead_id , collection: Tqrdc::Qhead.all

    = f.input :owner, :as => :autocomplete, :source_query => autocomplete_user_email_users_url, :items => 20, :minLength => 1,
      :hint => '請使用大寫輸入負責人, 1個字符后系統會給出建議清單'

    = f.input :creator_id, as: :hidden

    = f.input :updater_id, as: :hidden


  .form-actions
    .clearfix
    = button_tag class: 'btn btn-danger', type: 'button', onclick: "$(this).button('loading');this.form.submit();", data:{loading_text: t('saving')} do
      %span.glyphicon.glyphicon-floppy-save
      = t('save')
