%h3= t('edit_tqrdc_qline')
%h5
  = link_to t('show'), @tqrdc_qline
  \|
  = link_to t('back'), tqrdc_qlines_path

= render 'form'

%h5
  = link_to t('show'), @tqrdc_qline
  \|
  = link_to t('back'), tqrdc_qlines_path