%h3= t('attributes.tqrdc_order_line')
%h5
  = link_to t('edit'), edit_tqrdc_order_line_path(@tqrdc_order_line)
  \|
  = link_to t('back'), tqrdc_order_lines_path

= render partial: 'layouts/show', :locals => {object: @tqrdc_order_line}

%h5
  = link_to t('edit'), edit_tqrdc_order_line_path(@tqrdc_order_line)
  \|
  = link_to t('back'), tqrdc_order_lines_path
