%h3= t('edit_tqrdc_group')
%h5
  = link_to t('show'), @tqrdc_group
  \|
  = link_to t('back'), tqrdc_groups_path

= render 'form'

%h5
  = link_to t('show'), @tqrdc_group
  \|
  = link_to t('back'), tqrdc_groups_path