%h3= t('attributes.tqrdc_group')

%h5
  = link_to t('new_tqrdc_group'), new_tqrdc_group_path

= form_tag(tqrdc_groups_url, method: 'get', class: 'form-inline') do
  = text_field_tag :name, nil, placeholder: t('attributes.name'), class: 'form-control input-sm', value: params[:name]
  = button_tag class: 'btn btn-success btn-form-submit', type: 'button' do
    %span.glyphicon.glyphicon-search

.table-responsive
  %table.table.table-hover.table-condensed.table-bordered
    %thead
      %tr
        %th= t('action')
        %th= t('attributes.id')
        %th= t('attributes.name')
        %th= t('attributes.description')
        %th= t('attributes.score')
        %th= t('attributes.owner_id')
        %th= t('attributes.creator_id')
        %th= t('attributes.updater_id')
    %tbody
      - @tqrdc_groups.each do |tqrdc_group|
        %tr
          %td
            = link_to t('edit'), edit_tqrdc_group_path(tqrdc_group)
            |
            = link_to t('delete'), tqrdc_group, :method => :delete, :data => { :confirm => t('confirm_delete')}

          %td= tqrdc_group.id
          %td= tqrdc_group.name
          %td= tqrdc_group.description
          %td= tqrdc_group.score
          %td= tqrdc_group.owner_id
          %td= tqrdc_group.creator_id
          %td= tqrdc_group.updater_id

%h5
  = link_to t('new_tqrdc_group'), new_tqrdc_group_path

= paginate @tqrdc_groups unless @tqrdc_groups.empty?