%h3= t('edit_tqrdc_order_file')
%h5
  = link_to t('show'), @tqrdc_order_file
  \|
  = link_to t('back'), tqrdc_order_files_path

= render 'form'

%h5
  = link_to t('show'), @tqrdc_order_file
  \|
  = link_to t('back'), tqrdc_order_files_path