%h3= t('edit_tqrdc_order_group')
%h5
  = link_to t('show'), @tqrdc_order_group
  \|
  = link_to t('back'), tqrdc_order_groups_path

= render 'form'

%h5
  = link_to t('show'), @tqrdc_order_group
  \|
  = link_to t('back'), tqrdc_order_groups_path