%table.table.table-responsive.table-condensed.table-striped.table-bordered
  %tbody
    %tr
      %td{width:'10%'}
        .text-right
          %b= t('attributes.supplier')
      %td{width: '40%'}
        = @order.supplier.supplier
        = @order.supplier
      %td{width: '10%'}
        .text-right
          %b= t('attributes.period')
      %td{width: '40%'}
        = @order.period
    %tr
      %td.text-right
        %b= t('attributes.u1_user')
      %td= @u1_users.join(', ')
      %td
      %td
    %tr
      %td.text-right
        %b= t('attributes.u2_user')
      %td= @u2_users.join(', ')
      %td
      %td
    %tr
      %td.text-right
        %b= t('attributes.u3_user')
      %td= @u3_users.join(', ')
      %td
      %td
    %tr
      %td.text-right
        %b= t('attributes.u4_user')
      %td= @u4_users.join(', ')
      %td
      %td


= form_tag(update_scores_tqrdc_scores_url, method: 'post') do |f|

  - ascii = 64
  - @order.order_groups.each do |order_group|
    %h2.panel-heading
      .pull-left{:style=>'width:35px;'}
        %b= "#{(ascii += 1).chr}."
      .pull-left
        %b= @groups[order_group.group_id].name.upcase
        %b= @groups[order_group.group_id].description
      .clearfix
    - i = 0
    - @order.order_lines.each do |order_line|
      - if order_line.order_group_id == order_group.id
        %table.table-responsive.table.table-condensed.table-bordered.small
          %thead
            %tr
              %th{:width=> '10px'}
                = "#{i += 1}."
              %th
                = @qheads[order_line.qhead_id].name
                %p
                = @qheads[order_line.qhead_id].description
              %th{:width=> '30px', :class=> 'text-center'}
                = t('attributes.score')
              %th{:width=> '30px', :class=> 'text-center'}
                = t('attributes.u1_user')
              %th{:width=> '30px', :class=> 'text-center'}
                = t('attributes.u2_user')
              %th{:width=> '30px', :class=> 'text-center'}
                = t('attributes.u3_user')
              %th{:width=> '30px', :class=> 'text-center'}
                = t('attributes.u4_user')
          %tbody
            - Tqrdc::Qline.where(:qhead_id => order_line.qhead.id).each do |qline|
              %tr
                %td
                %td
                  = qline.name
                  %br
                  = qline.description
                %td.text-center{:style=>'vertical-align: middle;'}
                  = qline.score.to_i
                %td.text-center{:style=>'vertical-align: middle;'}
                  - if order_line.u1_user_id == current_user.id and @order.seq == 1 and order_line.seq == 1
                    %input{type: 'radio', class:'radio', id:"rd_u1_#{order_line.id}_#{qline.id}", name:"rd_u1_#{order_line.id}", value: qline.id, checked: (order_line.u1_qline_id == qline.id)}
                  - elsif order_line.u1_qline_id == qline.id
                    %div{'data-toggle'=> 'tooltip', :title=> order_line.u1_comment} V
                %td.text-center{:style=>'vertical-align: middle;'}
                  - if order_line.u2_user_id == current_user.id and @order.seq == 2 and order_line.seq == 2
                    %input{type: 'radio', class:'radio', id:"rd_u2_#{order_line.id}_#{qline.id}", name:"rd_u2_#{order_line.id}", value: qline.id, checked: (order_line.u2_qline_id == qline.id)}
                  - elsif order_line.u2_qline_id == qline.id
                    %div{'data-toggle'=> 'tooltip', :title=> order_line.u2_comment} V
                %td.text-center{:style=>'vertical-align: middle;'}
                  - if order_line.u3_user_id == current_user.id and @order.seq == 3 and order_line.seq == 3
                    %input{type: 'radio', class:'radio', id:"rd_u3_#{order_line.id}_#{qline.id}", name:"rd_u3_#{order_line.id}", value: qline.id, checked: (order_line.u3_qline_id == qline.id)}
                  - elsif order_line.u3_qline_id == qline.id
                    %div{'data-toggle'=> 'tooltip', :title=> order_line.u3_comment} V
                %td.text-center{:style=>'vertical-align: middle;'}
                  - if order_line.u4_user_id == current_user.id and @order.seq == 4 and order_line.seq == 4
                    %input{type: 'radio', class:'radio', id:"rd_u4_#{order_line.id}_#{qline.id}", name:"rd_u4_#{order_line.id}", value: qline.id, checked: (order_line.u4_qline_id == qline.id)}
                  - elsif order_line.u4_qline_id == qline.id
                    %div{'data-toggle'=> 'tooltip', :title=> order_line.u4_comment} V
          %tfoot
            %tr
              %td
              %td{colspan:6}
                - if order_line.u1_user_id == current_user.id and @order.seq == 1 and order_line.seq == 1
                  %textarea.form-control.small{:name => "cm_u1_#{order_line.id}", :id => "cm_u1_#{order_line.id}", :placeholder => 'Comments / 意見'}
                    = order_line.u1_comment
                - elsif order_line.u2_user_id == current_user.id and @order.seq == 2 and order_line.seq == 2
                  %textarea.form-control.small{:name => "cm_u2_#{order_line.id}", :id => "cm_u2_#{order_line.id}", :placeholder => 'Comments / 意見'}
                    = order_line.u2_comment
                - elsif order_line.u3_user_id == current_user.id and @order.seq == 3 and order_line.seq == 3
                  %textarea.form-control.small{:name => "cm_u3_#{order_line.id}", :id => "cm_u3_#{order_line.id}", :placeholder => 'Comments / 意見'}
                    = order_line.u3_comment
                - else order_line.u4_user_id == current_user.id and @order.seq == 4 and order_line.seq == 4
                  %textarea.form-control.small{:name => "cm_u4_#{order_line.id}", :id => "cm_u4_#{order_line.id}", :placeholder => 'Comments / 意見'}
                    = order_line.u4_comment
    %hr

  .form-actions
    .clearfix
    = button_tag class: 'btn btn-danger', type: 'button', onclick: "$(this).button('loading');this.form.submit();", data:{loading_text: t('saving')} do
      %span.glyphicon.glyphicon-floppy-save
      = t('save')


:javascript
  $(document).ready(function () {

    $('[data-toggle="tooltip"]').each(function(){
      $(this).tooltip();
    });

  });
