%h3= t('new_tqrdc_order_line')
%h5
  = link_to t('show'), ''
  \|
  = link_to t('back'), tqrdc_scores_path

= render 'form'

%h5
  = link_to t('show'), ''
  \|
  = link_to t('back'), tqrdc_scores_path