%h3= t('edit_tqrdc_flow')
%h5
  = link_to t('show'), @tqrdc_flow
  \|
  = link_to t('back'), tqrdc_flows_path

= render 'form'

%h5
  = link_to t('show'), @tqrdc_flow
  \|
  = link_to t('back'), tqrdc_flows_path