= simple_form_for(@tqrdc_supplier) do |f|
  = f.error_notification

  .form-inputs

    = #f.input :id

    = f.input :supplier

    = f.input :vname

    = f.input :email

    = f.input :commodity_mgr, :as => :autocomplete, :source_query => autocomplete_user_email_users_url, :items => 20, :minLength => 1,
      :hint => '請使用大寫輸入責任採購, 1個字符后系統會給出建議清單'

    = f.input :start_period

    = f.input :end_period

    = f.input :mtype , collection: Figaro.env.mtype.split(",")

    = f.input :territory , collection: Figaro.env.territory.split(",")


  .form-actions
    .clearfix
    = button_tag class: 'btn btn-danger', type: 'button', onclick: "$(this).button('loading');this.form.submit();", data:{loading_text: t('saving')} do
      %span.glyphicon.glyphicon-floppy-save
      = t('save')
