%h3= t('edit_tqrdc_supplier')
%h5
  = link_to t('show'), @tqrdc_supplier
  \|
  = link_to t('back'), tqrdc_suppliers_path

= render 'form'

%h5
  = link_to t('show'), @tqrdc_supplier
  \|
  = link_to t('back'), tqrdc_suppliers_path