%h3= t('attributes.tqrdc_supplier')

%h5
  = link_to t('new_tqrdc_supplier'), new_tqrdc_supplier_path

= form_tag(tqrdc_suppliers_url, method: 'get', class: 'form-inline') do
  = text_field_tag :vname, nil, placeholder: t('attributes.name'), class: 'form-control input-sm', value: params[:vname]
  = button_tag class: 'btn btn-success btn-form-submit', type: 'button' do
    %span.glyphicon.glyphicon-search

.table-responsive
  %table.table.table-hover.table-condensed.table-bordered
    %thead
      %tr
        %th= t('action')

        %th= t('attributes.supplier')

        %th= t('attributes.vname')

        %th= "EMAIL"

        %th= t('attributes.mtype')

        %th= t('attributes.commodity_mgr_id')

        %th= t('attributes.start_period')

        %th= t('attributes.end_period')

        %th= t('attributes.territory')
        
        %th= t('attributes.disty')

        %th=t('attributes.maker')

    %tbody
      - @tqrdc_suppliers.each do |tqrdc_supplier|
        %tr
          %td
            = link_to t('edit'), edit_tqrdc_supplier_path(tqrdc_supplier)
            |
            = link_to t('delete'), tqrdc_supplier, :method => :delete, :data => { :confirm => t('confirm_delete')}


          %td= tqrdc_supplier.supplier

          %td= tqrdc_supplier.vname

          %td= tqrdc_supplier.email

          %td= tqrdc_supplier.mtype

          %td= tqrdc_supplier.commodity_mgr_id

          %td= tqrdc_supplier.start_period

          %td= tqrdc_supplier.end_period

          %td= tqrdc_supplier.territory
          
          %td= tqrdc_supplier.disty

          %td= tqrdc_supplier.maker

%h5
  = link_to t('new_tqrdc_supplier'), new_tqrdc_supplier_path

= paginate @tqrdc_suppliers unless @tqrdc_suppliers.empty?