%h3= t('edit_tqrdc_qhead')
%h5
  = link_to t('show'), @tqrdc_qhead
  \|
  = link_to t('back'), tqrdc_qheads_path

= render 'form'

%h5
  = link_to t('show'), @tqrdc_qhead
  \|
  = link_to t('back'), tqrdc_qheads_path